body{font-style: arial;}
#crni{background-color: black;
	width: 1500;}
#h11{color: white;
	margin-left: 45;
	margin-top: -45;
	margin-bottom: 10;}
#knjiga{margin-top: 35;
	margin-bottom: 10;}	
#divform{background-color: green;
	margin-right: 20;
	margin-left: 20;
	border-radius: 10;
	border:solid;
	border-top: 2;
	margin-top: 10;}	
#p{color: white;
	margin-left: 35;}
form{margin-left: 5;}	
#a{margin-left: 35;
	color: white;}
#lijevi{float:left;
	background-color: #C0C0C0;
	width: 220;
	margin-top: -10;
	padding-bottom: 100;}
#desni{float:right;
	margin-right: 300;
	width: 700;}	
table{margin-left: 20;
	border-radius: 10;
	background-color: white;}
#p1{margin-left: 30}
#a1{letter-spacing: 4}
#diiv{float: right;
	margin-top: -38;
	margin-right: 389;
	background-color: blue;}
#td{letter-spacing: 2;}
a{color: blue;}
hr{color: #606060 ;}
#psivi{color: #606060 ;}
#h1{color: #484848;
	margin-top:5;}
#h12{color: blue;}	
ul{list-style-type: none;
	margin-left: -20;}